@import "tailwindcss";

*,
::before,
::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  overflow-x: hidden;
}

@font-face {
  font-family: "main-font";
  src: url(./fonts/Vazirmatn/static/Vazirmatn-Bold.ttf);
  font-weight: 500;
  font-display: swap;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-ar: "main-font", sans-serif;

  --animate-slide: slide 0.8s ease-in-out infinite;
  --breakpoint-xs: 399px;

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100vw);
    }
  }
}

@layer utilities {
  .hidden-scrollbar::-webkit-scrollbar {
    width: 0px;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-400 dark:bg-zinc-500 rounded-full;
  }

   .loading-spinner {
    @apply w-10 h-10 border-4 mask-conic-from-75% mask-conic-to-75% border-rose-500 animate-spin rounded-full;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500 dark:bg-zinc-400;
  }
}
